<div>
  <td><%= button_to 'Income', new_cash_transaction_path, class: 'btn btn-secondary' %></td>
  <td><%= button_to 'Expence', new_cash_transaction_path, class: 'btn btn-secondary' %></td>
</div>
<%= link_to 'Back', cash_transactions_path %>